<li id="menu-dashboard" class="nav-item">
    <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>
<li id="menu-form" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Form</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/form/" >Task List</a>
        <a class="dropdown-item" href="/form/NewForm.html">New Form</a>
    </div>
</li>
<li id="menu-plan" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Plan</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/plan/">Task List</a>
        <a class="dropdown-item" href="/plan/">New plan</a>
    </div>
</li>

<li id="menu-pmwork" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>PM Working</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/pmwork/">Task List</a>
        <a class="dropdown-item" href="/pmwork/">NEW FORM</a>
    </div>
</li>

<li id="menu-cmwork" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>CM Working</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/cmwork/">Task List</a>
        <a class="dropdown-item" href="/cmwork/">NEW FORM</a>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="../charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts Management</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="../tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>User Management</span></a>
</li>